.field {
  position: relative;
  width: 200px;
  height: 200px;

  border: 1px solid black;

  display: grid;
  place-items: center;
}

.error {
  border: 2px solid red;
}

.modal {
  position: absolute;
  display: flex;
  left: 5px;
  bottom: 5px;
}

.button {
  padding: 4px 8px;
  margin: 2px;
  border: 1px solid black;
  border-radius: 2px;
  text-transform: capitalize;
}

.button:hover {
  background-color: black;
  color: white;
}
