.container {
  position: relative;
  user-select: none;
}

.field {
  position: relative;
  width: 200px;
  height: 200px;

  border: 1px solid black;

  display: grid;
  place-items: center;
}

.plantation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.plantation img {
  width: 80px;
  transform: rotate(-2deg);
}

.growth img {
  animation: appear var(--i) linear;
}

.pulse img {
  animation: pulse 3s linear infinite;
}

.pulse:hover img {
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 1));
}

@keyframes appear {
  0% {
    transform: scale3d(0, 0, 0) rotate(-2deg);
  }
  100% {
    transform: scale3d(1, 1, 1) rotate(-2deg);
  }
}

@keyframes pulse {
  0% {
    transform: rotate(-2deg) scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: rotate(-2deg) scale(1);
  }
}

.move img {
  animation: move 1s ease-in-out;
  /* animation-duration: var(--offset); */
  animation-fill-mode: forwards;
}
@keyframes move {
  100% {
    transform: translate(
      calc(var(--image-x) + 100vw),
      calc(100vh - var(--image-y))
    );
  }
}
