.tableContainer {
  width: 100%;
  border-collapse: collapse;
  margin-top: 40px;
}

.tableHead {
  margin-top: 20px;
}

.tableContainer th,
.tableContainer td {
  padding: 20px;
  text-align: center;
  text-transform: capitalize;
}

.tableContainer th {
  background-color: #cd853f;
  color: #fff;
}

.tableContainer tr:nth-child(even) td {
  border-right: 1px solid #ffe4b5;
}
.tableContainer tr:nth-child(odd) td {
  border-right: 1px solid #f5deb3;
}

.tableContainer td:last-child {
  border-right: none;
}

.tableContainer tr:nth-child(even) {
  background-color: #f5deb3;
}

.tableContainer tr:nth-child(odd) {
  background-color: #ffe4b5;
}

.tableContainer tr:hover {
  background-color: #d2b48c;
}

.cropImage {
  width: 50px;
}
